:root {
	--text: #fff;;
	--background: #e1b07e;
	--button-hover: #d54e25;
	--button-selected: #6c1c09;
	--fieldset-color: #1e1812;
	--background-image: linear-gradient(0deg, rgba(85,52,19,1) 70%, rgba(235,147,60,1) 100%);
	--column-1: #704214;
}
a.links-lighten {
    color: #001966;
}

a.links-lighten:hover {
    color: #51586d;
}

a.links-lighten:visited {
    color: #29014d;
}

a.links-lighten:visited:hover {
    color: #3d3846;
}

.select2-container .select2-choice {
	background: var(--background);
	background-image: var(--background-image);
	color: var(--text);
}

html {
	background-color: #5a3917;
    opacity: 0.8;
    background-image:  linear-gradient(#704214 2px, transparent 2px), linear-gradient(90deg, #704214 2px, transparent 2px), linear-gradient(#704214 1px, transparent 1px), linear-gradient(90deg, #704214 1px, #533416 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

}

.wrapper {
	background-color: transparent;
}